<div>
  <h1 class="font-bold text-4xl">Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

  <% if user_signed_in? %>
    <p class="mt-4 text-xl">Welcome, <%= current_user.email %>!</p>
    <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'mt-2 inline-block px-4 py-2 bg-red-500 text-white rounded hover:bg-red-700' %>
  <% else %>
    <p class="mt-4 text-xl">You are not logged in.</p>
    <%= link_to 'Log in', new_user_session_path, class: 'mt-2 inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700' %>
  <% end %>
</div>
