<div class="flex justify-center m-10">
  <%= render 'sort' %>
</div>

<%= render partial: 'posts/posts_list', locals: { posts: @posts } %>

<div class="flex justify-center mt-6">
  <%= paginate @posts %>
</div>
